html,
body {
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    transition: 0.3s opacity;
}


.content {
    height: 100%;
    width: 100%;
    background-color: rgba(36, 36, 36, 0.945);
    border: solid 2px rgba(255, 255, 255, 0.308);
    border-radius: 10px;
}

.title {
    margin-top: 10px;
    margin-left: 10px;
    user-select: none;
    -webkit-app-region: drag;
}


.hl {
    width: calc(100% - 10px);
    border-bottom: solid 1px white;
    display: table;
    margin: auto;
}

.tool-bar {
    padding: 5px;
    background: rgba(65, 65, 65, 0.795);
}



.back-button {
    background: rgba(92, 92, 92, 0.692);
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    user-select: none;
    transition: 0.3s;
    padding-right: 10px;
}

.back-button:hover {
    background: rgba(92, 92, 92, 0.884);
}
#doneButton {
    display: none;
}


.material-icons {
    display: inline-flex;
    vertical-align: top;
}

.container{
    height: calc(100% - 123px);
    overflow: auto;
    user-select: none;
}


.actions {
    position: absolute;
    bottom: 10px;
    right: 0;
}

#closeButton,
.button {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.274);
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 20px;
    user-select: none;
    transition: 0.2s;
    display: inline-block;

}

#closeButton:hover {
    background-color: rgba(255, 47, 47, 0.178);
}

.button:hover {
    background-color: rgba(47, 127, 255, 0.178);
}

.icon-container{
    display: table;
    padding: 10px;
    background-color: rgba(70, 70, 70, 0.719);
    margin: auto;
    border-radius: 10px;
    transition: 0.3s;
    margin-bottom: 13px;
}

.icon {
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.center-content{
    display: table;
    margin: auto;
    margin-top: 30px;
}
p {
    margin: 0;
    margin-bottom: 5px;
}
.browse-button{
    display: table;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    background: rgba(57, 143, 255, 0.322);
    transition: 0.3s;
    margin-top: 10px;
}
.browse-button:hover {
    background: rgba(57, 143, 255, 0.753);
}
#nickname{
    padding: 10px;
    border: none;
    outline: none;
    background: none;
    text-align: center;
    color: white;
    font-size: 17px;
    transition: 0.3s;
    border-radius: 20px;
}
#nickname:hover{
    background: rgba(85, 85, 85, 0.308);
}
#nickname:focus{
    background: rgba(0, 0, 0, 0.397);
}

.loading{
    background-color: rgba(36, 36, 36, 0.945);
    border: solid 2px rgba(255, 255, 255, 0.308);
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 65px;
    left: 0;
    right: 0;
}
.loading-text{
    display: table;
    margin: auto;
    margin-top: 170px;
    font-size: 20px;
}